<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.tornaco.thanos.android.ops2">

    <application>

        <activity
            android:name=".Ops2Activity"
            android:exported="false" />
        <activity
            android:name=".AppListActivity"
            android:exported="false" />

    </application>
</manifest>
