<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name=".byop.Ops2Activity"
            android:exported="false" />
        <activity
            android:name=".byop.AppListActivity"
            android:exported="false" />
        <activity
            android:name=".byapp.AppOpsListActivity"
            android:exported="false" />

    </application>
</manifest>
