<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.tornaco.android.thanos.module.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="github.tornaco.android.thanos.picker.AppPickerActivity"
            android:exported="false" />
    </application>
</manifest>
