<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="github.tornaco.android.plugin.push.message.delegate">

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="thanox.plugin.description"
            android:value="Push message proxy plugin" />

        <meta-data
            android:name="thanox.plugin.minThanoxVersion"
            android:value="1" />

        <meta-data
            android:name="thanox.plugin.statusCallableClass"
            android:value="github.tornaco.android.plugin.push.message.delegate.StatusCallable" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/PushDelegateTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
