<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="github.tornaco.android.thanos.module.easteregg">
    <application>
        <activity android:name=".paint.PlatLogoActivity"
                  android:theme="@android:style/Theme.DeviceDefault"/>
    </application>
</manifest>
