<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:name="tornaco.apps.thanox.ThanoxApp"
        android:icon="@mipmap/ic_launcher"
        android:label="Thanos"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ThanoxLite"
        tools:targetApi="31">

        <activity
            android:name="tornaco.apps.thanox.ThanosMainActivity"
            android:exported="true"
            android:theme="@style/Theme.ThanoxLite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>