<ul>
    {%- for lang in site.languages -%}
    {%- assign lang_name = site.data[lang].l10n.lang_name -%}
    {% if lang == site.active_lang %}
    <li class="fs-3">{{ lang_name }}</li>
    {% else %}
    {% capture url %}{% if lang != site.default_lang %}{{ lang | prepend: "/" }}{% endif %}{{
    page.url }}{%- endcapture -%}
    <li class="fs-3">
        <a {% static_href %}href="{{ url | relative_url }}" {% endstatic_href %}>
            {{ lang_name }}
        </a>
    </li>
    {% endif %}
    {%- endfor -%}
</ul>
