<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="github.tornaco.thanos.android.module.profile">

    <application>
        <activity
            android:name=".RuleListActivity"
            android:exported="false" />
        <activity
            android:name=".RuleEditorActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".RuleEngineSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".GlobalVarListActivity"
            android:exported="false" />
        <activity
            android:name=".GlobalVarEditorActivity"
            android:exported="false" />

        <activity
            android:name=".ProfileShortcutEngineActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/AppThemeShortcut" />
        <activity
            android:name=".LogActivity"
            android:exported="false" />
        <activity
            android:name=".engine.DateTimeEngineActivity"
            android:exported="false" />
        <activity
            android:name=".ConsoleActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".engine.NewRegularIntervalActivity"
            android:exported="false" />
        <activity
            android:name=".example.ProfileExampleActivity"
            android:exported="false" />
    </application>
</manifest>
