<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".NotificationRecordSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NotificationRecordActivity"
            android:exported="false"
            android:label="@string/module_notification_recorder_feature_title_notification_recorder" />
        <activity
            android:name=".ui.stats.StatsActivity"
            android:exported="false"
            android:label="@string/module_notification_recorder_stats" />
        <activity
            android:name=".AppListActivity"
            android:exported="false"
            android:label="@string/app_picker_title" />
    </application>
</manifest>
