<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".app.PLayLvlCheckActivity"
            android:exported="false"
            android:label="@string/nav_title_thanox" />
    </application>
</manifest>