<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="github.tornaco.android.plugin.idle">

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:supportsRtl="true"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
                android:name="thanox.plugin.description"
                android:value="应用回到后台后休眠（app standby）" />

        <meta-data
                android:name="thanox.plugin.minThanoxVersion"
                android:value="1" />

        <meta-data
                android:name="thanox.plugin.withHooks"
                android:value="false" />

        <activity
                android:name=".MainActivity"
                android:theme="@style/DefTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
